*~
*.bak
*.deps
*.gcov
*.gcno
*.gcda
*.gir
*.gmo
*.la
*.lo
*.o
*.patch
*.pyc
*.pc
*.tar.gz
*.typelib
*.vapi
.deps
.cproject
.libs
.project
.pydevproject
aclocal.m4
autom4te.cache
compile
configure
config.*
depcomp
install-sh
INSTALL
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.in.in
missing
stamp*
*.stamp
.settings
.project
.cproject

/build/coverage*
/build/m4/*
!/build/m4/vapigen.m4
/build/valgrind-suppressions
/build/test-driver
/build/litter

/docs/man/secret-tool.1
/docs/reference/libsecret/version.xml
/docs/reference/libsecret/version-major.xml
/docs/reference/libsecret/libsecret-decl-list.txt
/docs/reference/libsecret/libsecret-decl.txt
/docs/reference/libsecret/libsecret-scan.c
/docs/reference/libsecret/html
/docs/reference/libsecret/libsecret-undeclared.txt
/docs/reference/libsecret/libsecret-undocumented.txt
/docs/reference/libsecret/libsecret-unused.txt
/docs/reference/libsecret/libsecret.args
/docs/reference/libsecret/libsecret.hierarchy
/docs/reference/libsecret/libsecret.interfaces
/docs/reference/libsecret/libsecret.prerequisites
/docs/reference/libsecret/libsecret.signals
/docs/reference/libsecret/tmpl
/docs/reference/libsecret/xml

/po/POTFILES
/po/libsecret.pot

/egg/tests/test-*
!/egg/tests/test-*.c

/libsecret/*-dbus-generated.[ch]
/libsecret/secret-enum-types.[ch]
/libsecret/secret-version.h
/libsecret/tests/test-*
/libsecret/tests/*.metadata
!/libsecret/tests/test-*.c
!/libsecret/tests/test-*.js
!/libsecret/tests/test-*.py
!/libsecret/tests/test-*.vala
/libsecret/tests/test-vala-*.c

/tool/secret-tool
