*~
*.o
*.la
*.lo
*.pyc
*.gcno
*.gcda
.deps
.cproject
.libs
.project
aclocal.m4
autom4te.cache
compile
configure
config.*
depcomp
install-sh
INSTALL
libtool
ltmain.sh
m4
Makefile
Makefile.in
Makefile.in.in
missing
stamp*
.settings
.project
.cproject

/coverage

/po/POTFILES

/egg/tests/test-dh
/egg/tests/test-hkdf
/egg/tests/test-secmem

/library/gsecret-dbus-generated.[ch]
/library/tests/test-*
!/library/tests/test-*.c
