*~
*.o
*.la
*.lo
*.pyc
*.gcov
*.gcno
*.gcda
.deps
.cproject
.libs
.project
aclocal.m4
autom4te.cache
compile
configure
config.*
depcomp
install-sh
INSTALL
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.in.in
missing
stamp*
.settings
.project
.cproject

/build/coverage*
/build/m4
/build/valgrind-built.supp

/po/POTFILES
/po/gsecret.pot

/egg/tests/test-dh
/egg/tests/test-hkdf
/egg/tests/test-secmem

/library/gsecret-dbus-generated.[ch]
/library/tests/test-*
!/library/tests/test-*.c

